*{
    
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;


    font-family: Arial, Helvetica, sans-serif;
}
body{

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}
:root{
    --dark:#374151;
    --darker:#1f2937;
    --darkest:#111827;
    --gray:#687280;
    --light:#eee;
    --pink:#ec4899;
    --purple:#8b5cf6;

}
header{
    padding: 2rem 1rem;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  

}
nav{
    height: 5rem;
    line-height: 6rem;
    display: flex;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem 0 ;
}
.searchBox > input{
    height: 3rem;
    width:20rem;
    border-radius: 1rem;
}
.searchBox > button{
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    color: white;
    font-size: large;
    border: none;background: var(--dark);
}
#taskAdd, .content , .btn{
    padding: 0 1rem ;
    margin: 2rem 0;
}
#taskAdd > #newTaskAdd{
    width: 700px;
    height: 2rem;
    border-radius: 1rem;

}
#taskAdd > #AddTaskBtn {
    width: 8rem;
    height: 2rem;
    
    border-radius: 1rem;
}
.wrapper > h2{
    font-size: 2rem;
}
.task{
    display: flex;
}
.text{
    background: var(--gray);
    height: 2rem;
    width: 670px;
border-radius: 1rem;
word-spacing: 2px;
font-size: 1.2rem;
}
.btn > button{
    height: 2rem;
   width: 4rem;
border-radius: 1rem;

}
.Delete{
    background: red;
}
.Edit{
    background: green;
}